body
  font-family "Open Sans","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300


h1
  font-weight 300
  padding 10px

ul,li
  margin 0px
  padding 0px

p
  padding 0px 10px

.search-list
  width 100%
  padding 20px 0px
  position relativ
  float left
  .search-list-item-price
    position absolute
    color white
    left 0px
    top 0px
    padding 10px
    z-index 1
    font-size 2rem
    
  .search-list-item-meta
    font-size 0.8rem
    
  .search-list-item-gallery
    position relative
    top 0px
    amp-img
      background #993300
      
  .search-list-item-user
    position absolute
    bottom 0px
    right 0px
    padding 10px
    background #AA9900

     

.search-list-item
  width 100%
  position relative
  float left
  display block
  margin-bottom 10px
  background-color #993300

