<h1>
Hello
</h1>
<p>
Took: <strong>{{hits.took}}ms</strong><br/>
Total: <strong>{{hits.total}}</strong><br/>
Scroll: <strong>{{hits.hits.length}}</strong>
</p>
<ul class="search-list">
	
	{{#each hits.hits}}

  		<li class="search-list-item">
			<div class="search-list-item-price">
				{{this.ruleAggr.Pricing.avg}}&euro;<br/>
				<p class="search-list-item-meta">
					Location: {{this._source.location.lat}}, {{this._source.location.lon}}<br/>
					Total: {{this.ruleAggr.Pricing.total}}&euro;<br/>
					Days: {{this.ruleAggr.Pricing.days}}<br/>
				</p>

				
			</div>
			
  			<a href="/l/{{this._source._id}}" class="search-list-item-gallery">
				
	  			<amp-img src="http://dummyimage.com/400x300/666666/fff&text={{ this._source.name }}" alt="Welcome" width="400" height="300" layout="responsive"></amp-img>
  			</a>
  			<a href="/u/{{this._source._id}}" class="search-list-item-user">
  				<amp-img src="http://dummyimage.com/100x100/AAAAAA/fff&text={{ this._source.name }}" alt="Welcome" height="80" width="80" ></amp-img>
  			</a>
  			
  		</li>
	{{/each}}
</ul>